html {
	font-family: futura;
}
.button {
	background-color: antiquewhite;
	border-radius: 25px;
	padding: 5px 10px;
	min-width: 70px;
	text-align: center;
}
.tweet {
	position: relative;
	margin: 0 auto;
	width: 400px;
	background-color: antiquewhite;
	border-radius: 25px;
	padding: 5px 0px;
}
.tweet div {
	background-color: floralwhite;
	border-radius: 25px;
	margin: 10px;
	padding: 10px 10px;
}
.tweet div:hover {
	color: white;
	background-color: black;
}
h1 {
	width: 140px;
	margin: 0 auto;
}
.refresh {
	position: fixed;
	right: 5px;
	top: 5px;
	width: 70px;
}
.button:hover {
	color: white;
	background-color: black;
}
.users {
	position: fixed;
	top: 35px;
	left: 5px;
}
.users div {
	background-color: antiquewhite;
	border-radius: 25px;
	margin: 5px 0;
	padding: 10px 5px;
	display: none;
}
#userbutton {
	display: block;
	top: 5px;
	left: 5px;
	position: fixed;
}