html {
	font-family: futura;
}

.tweet {
	position: relative;
	margin: 0 auto;
	width: 400px;
	background-color: antiquewhite;
	border-radius: 25px;
	padding: 5px 0px;
}
.tweet div {
	background-color: floralwhite;
	border-radius: 25px;
	margin: 10px;
	padding: 10px 10px;
}
.tweet div:hover {
	color: white;
	background-color: black;
}
h1 {
	width: 140px;
	margin: 0 auto;
}
.refresh {
	position: fixed;
	right: 5px;
	top: 5px;
	background-color: antiquewhite;
	width: 70px;
	border-radius: 25px;
	padding: 5px 10px;
}
.refresh:hover {
	color: white;
	background-color: black;
}